<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/styles/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <title>User Dashboard</title>
  </head>
  <body>
    <div class="my_container">
      <div class="center"><h1>Quiz Master - User</h1></div>
      <div class="my_panel">
        <nav
          class="navbar navbar-expand-lg navbar-light"
          style="background-color: #e3f2fd"
        >
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarText">

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" href="/user/{{id}}/{{name}}">
                    <i class="fas fa-home"></i> Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user_summary/{{id}}">
                    <i class="fas fa-chart-bar"></i> Summary
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">
                    <i class="fas fa-sign-out-alt"></i> Logout
                  </a>
                </li>
              </ul>
              <form
                class="d-flex mx-auto"
                method="POST"
                action="/user_search/{{id}}/{{name}}"
              >
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search subjects, chapters or quizzes..."
                  name="search_text"
                  required
                />
                <button class="btn btn-outline-primary" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </form>
              <span class="navbar-text">
                <i class="fas fa-user-circle"></i> Welcome, {{name}} (User)
              </span>
            </div>
          </div>
        </nav>
        {% block content %}
        <!-- Content from child templates -->
        {% endblock %}
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
